binder_use(platform_app)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)

# Allow LineageHealth HAL service to be found
hal_client_domain(platform_app, hal_lineage_health)

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_lineage_fastcharge)

# Custom ROM Hide
allow platform_app custom_rom_hide_data_file:file { create open read write getattr setattr unlink };
