# Allow shell to get LMKD's stats
get_prop(shell, system_lmk_prop)

# Allow shell to disable PIHooks
set_prop(shell, pih_disable_prop)

# Custom ROM Hide
allow shell adb_data_file:dir { search getattr };
allow shell custom_rom_hide_data_file:file { create open read write getattr setattr unlink };
